* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  height: 500px;
  font-family: "Red Hat Display", sans-serif;
}

section {
  background-color: white;
  width: 300px;
  margin-left: 37%;
  border-radius: 12px;
  padding-bottom: 2%;
}

.section1 {
  margin-top: 33%;
}

.section3 {
  display: flex;
}

.head-image {
  width: 300px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

h1 {
  text-align: center;
  margin-top: 7%;
  font-size: 16px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.section2-p {
  text-align: center;
  margin-top: 4.5%;
  font-size: 13px;
  font-weight: 500;
  color: hsl(224, 23%, 55%);
  line-height: 3vh;
}

.music-image {
  width: 40px;
}

.section3 {
  margin-left: 7.9%;
  margin-top: 6%;
  background-color: hsl(225, 100%, 98%);
  width: 250px;
  padding: 10px;
  border-radius: 10px;
}

button {
  margin-left: 7.9%;
  margin-top: 7%;
  width: 250px;
  padding: 12px 0px;
  border-radius: 8px;
  background-color: hsl(245, 75%, 52%);
  border: none;
  outline: none;
  color: white;
  font-weight: 700;
  margin-bottom: 6%;
}

.sub-section {
  margin-left: 8%;
}

.change {
  margin-left: 18%;
  margin-top: 3%;
  color: hsl(245, 75%, 52%);
  font-weight: 600;
  font-size: 13px;
}

.cancel {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  margin-left: 33%;
  font-size: 13px;
  padding-top: 8%;
  font-weight: 400;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

button:hover {
  opacity: 0.7;
}

.change:hover {
  text-decoration: none;
  opacity: 0.7;
}

.sub-section p {
  margin-top: 5px;
  font-size: 13.5px;
  color: hsl(224, 23%, 55%);
  font-weight: 400;
}
